---
const title = "初めてのAstroサイト";
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>

  <body>
    <h1>こんにちは！Astroで最初のページができたよ 🚀</h1>
    <p>これはあなたが Cloudflare Pages で公開した最初のページです。</p>
  </body>
</html>
